@import './theme.styl'


body
  font-family default-font-family
  color default-color

  
// Typography
h1, h2, h3, h4, h5, h6, p, a, span
  margin 0px
  padding 0px
  font-weight normal 
  text-decoration none
  line-height 1em
   -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
 color rgba(0, 0, 0, .5) 
