// THEME

// Sizes
default-font-size = 15px
sm-font-size = 13px
lg-font-size = 20px

// Primary
primary-theme-color = #945573
primary-color = #fff
primary-background-color = primary-theme-color

// Secondary
secondary-color = #fff
secondary-background-color = #4A405A

// Tertiary
tertiary-color = #fff
tertiary-background-color = #86A0C0

