// THEME

// Sizes
default-font-size = 15px
sm-font-size = 13px
lg-font-size = 20px

// Primary
primary-theme-color = #3ed783
primary-color = #fff
primary-background-color = primary-theme-color

// Secondary
secondary-color = #fff
secondary-background-color = #4A405A

// Tertiary
tertiary-color = #fff
tertiary-background-color = #86A0C0

// Inputs
input--color--background = #ffffff
input--color--background-disabled = #f6f8ff

select--color--disclosure = #bcc1d7

checkbox--color--checkmark = white
checkbox--color--background-inactive = white
checkbox--color--border-inactive = #d6dae9
checkbox--color--background-active = #30d27b
checkbox--color--border-active = primary-theme-color
